---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Leagues from "../components/leagues.astro";
import About from "../components/about.astro";
import Footer from "../components/footer.astro";
import Team from "../components/team.astro";
---

<Layout title="Peri Badminton League">
	<Hero></Hero>
	<Leagues></Leagues>
	<About></About>
	<Team></Team>
	<Footer></Footer>
</Layout>

<style>

</style>