<style>
	.col {
		padding: 1.5rem;
		width: 300px;
	}
</style>

<div class="about">
	<div style="padding: 2rem 2rem 0 2rem;"><span style="font-size: 28px; font-weight: 600;">About our club</span>
	</div>
	<div style="display: flex; flex: 1; flex-wrap: wrap; gap: 1rem; justify-content: center;">
		<div class="col">
			<div style="font-size: 20px; font-weight: 700;padding: 0 0 0.5rem 0">At vero eos et accusamus</div>
			"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
			atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
			sunt in culpa qui officia deserunt mollitia animi.
		</div>
		<div class="col">
			<div style="font-size: 20px; font-weight: 700;padding: 0 0 0.5rem 0">At vero eos et accusamus</div>
			"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
			voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
			provident, similique sunt in culpa qui officia deserunt mollitia animi.
		</div>
		<div class="col">
			<div style="font-size: 20px; font-weight: 700;padding: 0 0 0.5rem 0">At vero eos et accusamus</div>
			"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
			voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
			provident, similique sunt in culpa qui officia deserunt mollitia animi.
		</div>
	</div>


</div>

<script is:inline>


</script>