<style>
	.footer {
		background-color: #000;
		height: 60px;

		padding: 1rem;
	}
</style>

<div class="footer">

	<div style=" text-align: center; ">
		<div style="font-size: 16px;   color: #fff; text-align: center;">Copyright 2022 PERI BADMINTON
			LEAGUE</div>
		<div style="font-size: 16px;   color: #fff; text-align: center;">MADE IN NAMMA BENGALURU</div>
	</div>

</div>

<script is:inline>


</script>