<style>
	.hero {
		background: radial-gradient(96.44% 96.44% at 50% 3.56%, #a2adcb 0%, #1e2acd 100%);
		box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5);
		height: 430px;
		width: 100%;
	}

	.hero-image {
		width: 409px;
		height: 240px;
	}

	@media screen and (max-width: 410px) {
		.hero-image {
			width: 209px;
			height: 140px;
		}

	}
</style>

<div class="hero">

	<div style="display: grid; place-items: center; height:100%">
		<img src="./assets/pbl-logo.svg" class="hero-image">
	</div>

</div>

<script is:inline>


</script>