<style>
	.content {


		background-color: #fff;
	}

	.card {
		width: 260px;
		height: 300px;

		border-radius: 8px;
		background-color: #f2f2f2;
		display: grid;
		grid-template-rows: 160px 60px 40px 40px;


	}

	.card-layout {
		display: flex;
		justify-content: center;
		gap: 2rem;
		padding: 3rem 1rem;
		flex-wrap: wrap;
	}

	.card-image {
		width: 100%;

	}

	@media screen and (max-width: 1024px) and (min-width: 577px) {}
</style>

<div class="content">

	<div class="card-layout">
		<div class="card">
			<div style="overflow: hidden; ">
				<img src="./assets/pbl-logo.svg" class="card-image">
			</div>
			<div style="display: grid; place-items: center; font-weight: 800;">
				PBL February - 2022
			</div>
			<div>
				<span style="font-size:14px; color: #999; display: grid; place-items: center;">
					12th March 2022
				</span>

			</div>
			<div style="background-color: #24C046; display: grid; place-items: center;">
				<span style="color: #fff; font-size: 16px;">
					VIEW RESULTS
				</span>

			</div>
		</div>
		<div class="card">
			<div style="overflow: hidden; ">
				<img src="./assets/pbl-logo.svg" class="card-image">
			</div>
			<div style="display: grid; place-items: center; font-weight: 800;">
				PBL July - 2022
			</div>
			<div>
				<span style="font-size:14px; color: #999; display: grid; place-items: center;">
					30th July 2022
				</span>

			</div>
			<div style="background-color: crimson; display: grid; place-items: center;">
				<span style="color: #fff; font-size: 16px;">
					DRAWS
				</span>

			</div>
		</div>
		<div class="card">
			<div style="overflow: hidden; ">
				<img src="./assets/pbl-logo.svg" class="card-image">
			</div>
			<div style="display: grid; place-items: center; font-weight: 800;">
				PBL New Year - 2023
			</div>
			<div>
				<span style="font-size:14px; color: #999; display: grid; place-items: center;">
					27th Dec 2022
				</span>

			</div>
			<div style="background-color: grey; display: grid; place-items: center;">
				<span style="color: #fff; font-size: 16px;">
					REGISTER
				</span>

			</div>
		</div>
	</div>

</div>

<script is:inline>


</script>