<style>
	.navbar {
		background: radial-gradient(96.44% 96.44% at 50% 3.56%, #333333 0%, #303030 100%);
		height: 52px;
		width: 100%;
	}
</style>

<div class="navbar">

	<div style="text-align: center; color: #fff; line-height: 52px; letter-spacing: 1px;">FOR THE LOVE OF THE GAME</div>

</div>

<script is:inline>


</script>