<style>
	.content {


		background-color: #fff;
	}

	.card {
		width: 260px;
		height: 300px;

		border-radius: 8px;

		display: grid;
		grid-template-rows: 160px 60px 40px;


	}

	.card-layout {
		display: flex;
		justify-content: center;
		gap: 2rem;
		padding: 3rem 1rem;
		flex-wrap: wrap;
	}

	.card-image {
		width: 100%;
	}

	@media screen and (max-width: 1024px) and (min-width: 577px) {}
</style>

<div class="content">

	<div class="card-layout">
		<div class="card">
			<div style="overflow: hidden; ">
				<img src="./assets/pbl-logo.svg" class="card-image">
			</div>
			<div style="display: grid; place-items: center; font-weight: 800;">
				Periasamy
			</div>
			<div>
				<span style="font-size:14px; color: #999; display: grid; place-items: center;">
					Founder
				</span>

			</div>

		</div>
		<div class="card">
			<div style="overflow: hidden; ">
				<img src="./assets/pbl-logo.svg" class="card-image">
			</div>
			<div style="display: grid; place-items: center; font-weight: 800;">
				Pradeesh
			</div>
			<div>
				<span style="font-size:14px; color: #999; display: grid; place-items: center;">
					Co-Founder
				</span>

			</div>

		</div>
		<div class="card">
			<div style="overflow: hidden; ">
				<img src="./assets/pbl-logo.svg" class="card-image">
			</div>
			<div style="display: grid; place-items: center; font-weight: 800;">
				Bharath
			</div>
			<div>
				<span style="font-size:14px; color: #999; display: grid; place-items: center;">
					Co-Founder
				</span>

			</div>

		</div>
	</div>

</div>

<script is:inline>


</script>